.card-page {
  background-color: #dceaf5;
  padding: 96px 0;
}
.card-page h2 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0d1317;
  margin-bottom: 64px;
}

.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  max-width: 400px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover .card-btn {
  color: red;
  font-size: 24px;
}

.card-image {
  overflow: hidden;
}

.card-about {
  margin: 32px;
}

.card-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0d1317;
}

.card-desc {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #5b5b5b;
  margin-top: 16px;
  margin-bottom: 24px;
}

.card-btn {
  background: none;
  border: none;
  outline: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.04px;
  text-align: left;
  color: #f58a07;
  cursor: pointer;
  transition: 0.5s;
}
