.header-page {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  padding: 16px 0;
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar {
  gap: 32px;
}

.navbar-link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-left: 32px;
  transition: 0.5s;
}

.navbar-link:hover {
  text-decoration-line: underline;
  color: #f58a07;
}

.navbar-link.active {
  text-decoration-line: underline;
  color: #f58a07;
}

.navbar-clone {
  width: 173px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.04px;
  text-align: left;
  color: #f58a07;
  border-radius: 31px;
  background-color: #f58a071a;
  padding: 18px 32px;
  transition: 0.5s ease-in-out;
}

.navbar-clone:hover {
  background-color: #f58a07;
  color: #ffffff;
}
